.characters-container {
    height: 400px;
    background-color: rgb(248, 249, 250);
  }
  .image-actor {
    margin-top: -15px;
  }
  .episodes-container {
    text-align: left;
    margin-left: 20px;
  }
  